.text-content-center {
    margin-top: 31px;
    border-top: 1px solid #e5e3e3;
    padding: auto 0;
    border-bottom: 1px solid #e5e3e3;
}
.text-content-center p {
    margin-top: 10px;
    font-family: 'UTM Neo Sans Intel';
    font-size: 14px;
    margin-bottom: 10px;
}
.text-content-center .text-color {
    color: #d71920;
    font-weight: bold;
    font-family: 'UTM Neo Sans Intel Bold';
    font-size: 14px;
}
.text-content-center .btn-download {
    background-color: #d71920;
    color: white;
    border-radius: 0;
    margin-top: 3px;
    width: 100%;
    /* font-weight: 500; */
    font-family: 'UTM NeoSansIntelBold';
    font-size: 14px;
    height: 33px;
    position: relative;
}   
.icon-download {
    position: absolute;
    top: 6px;
    left: 71%;
}
.content-one {
    font-family:'UTM NeoSansIntelBold';
    text-align: justify;
}
.content-two {
    font-family: 'UTM Neo Sans Intel';
    text-align: justify;
}
.list-group p{
    font-family: 'UTM Copperplate';
    color: black;
    font-size: 18px;
}
.list-group-item {
    font-family: 'UTM Avo';
    font-size: 14px;
    color: black;
    font-weight: 400;
}
.img-bottom img{
    width: 80%;
    height: auto;
    margin-left: 14%;
}
.list-content {
    margin-bottom: 24px;
}
@media only screen and (max-width: 1200px) {
    .list-group {
        margin-left: 0;
        width: 100%;
    }
    .list-content span {
        font-size: 28px;
    }
    .tab-content {
        padding: 0;
    }
    .text-content-center p {
        font-size: 12px;
        margin-top: 20px;
    }
    .text-content-center .btn-download {
        padding-left: 0;
        font-size: 10px;
        margin-top:15px;
    }
    .icon-download {
        top: 15px;
        left: 68%;
    }
}   
@media only screen and (max-width: 920px) {
    .text-content-center .text-color {
        font-size: 12px;
    }
    .text-content-center p {
        font-size: 12px;
    }
    .text-content-center .btn-download {
        padding-left: 0;
        font-size: 10px;
    }
    .icon-download {
        top: 15px;
        left: 70%;
    }
    .list-group {
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .list-group {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .icon-download {
        top: 15px;
        left: 57%;
    }
}
@media only screen and (max-width: 600px) {
    .list-group {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 475px) {
    .list-group p {
        max-width: 100%;
    }
    .tab-content {
        padding: 0;
        margin-top: 20px;
    }
    .list-content {
        margin-top: 20px;
        width: 100%;
    }
    .list-group {
        margin: 0;
        margin-top: -10px;
        max-width: 100%;
    }
    .text-content-center .btn-download {
        width: 70%;
    }
    .icon-download {
        top: 15px;
        left: 60%;
    }
}