.list-group{
    margin: -10px;
    /* margin-right: 30px; */
    margin-left: 50px;
    border-top: 10px solid #d71920;
    max-width: 261px;
    height: auto;
    font-size: 14px;
}
.list-group-item.active {
    background-color: #d71920;
    /* color: black; */
    border: none;
}
.list-group-item.active i{
    color: white !important;
}
.list-content {
    background-color: white;
    height: auto;
    margin-top: -10px;
    /* margin-bottom: 150px; */
    width: 753px;
    /* height: 1040px; */
    margin-bottom: 120px;
}
.list-group p{
    padding: 10px;
    margin: 0;
    background-color: #cccccc;
    line-height: 25px;
    padding-left: 20px;
    font-family: 'UTM Copperplate';
}
.list-group a {
    border: none;
}
.list-content span{
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    font-family: 'UTM Copperplate';
}
.list-content .content-one p{
    font-size: 16px;
    font-weight: bold;
    /* font-size: 'UTMNeoSansIntelBold'; */
}
.list-content .height-title {
    width: 375px;
    height: 2px;
    background-color: #e5e3e3;
    margin: 0 auto;
    margin-bottom: 20px;
}
.img-slider img{
    width: 100%;
    margin: auto;
}
.list-group i{
    color: #d71920;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 7px;
}
.content-slider .height-title::before {
    position: absolute;
    left: 50%;
    content: '';
    /* top: -2px; */
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background-color: #d71920;
    transform: translateX(-50%);
}
.tab-content{
    padding: 40px 40px;
}
.content-two {
    font-family: 'UTM Neo Sans Intel';
}
.content-one {
    font-family: 'UTM Neo Sans Intel';
}
.list-group-item {
    font-family: 'UTM Avo';
}
section .img-dcm{
    background-image: url("../images/index3/media1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #d71920;
    width: 500px;
    height: auto;
}
@media only screen and (max-width: 1200px) {
    .list-group {
        margin-left: 0;
    }
    .list-content span {
        font-size: 30px;
        padding-bottom: 30px;
    }
    .content-one {
        text-align: justify;
    }
    .content-two {
        text-align: justify;
    }
    .tab-content {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 992px) {
    .list-group {
        margin-left: 0;
    }
    .list-content span {
        font-size: 25px;
        padding-bottom: 30px;
    }
    .content-one {
        text-align: justify;
    }
    .content-two {
        text-align: justify;
    }
    .tab-content {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 768px) {
    .tab-content {
        padding: 0;
    }
    .list-content {
        width: 100%;    
        margin-bottom: 25px;
    }
    .list-group {
        margin: 0;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: -10px;  
    }
    .content-one {
        text-align: justify;
    }
    .content-two {
        text-align: justify;
    }
    .list-content span {
        font-size: 22px;
    }
    .content .menu-footer .menu-footer-child {
        display: none;
    }
    .content .menu-footer{
        padding-top:25px;
    }
}
@media only screen and (max-width: 600px) {
    .tab-content {
        padding: 0;
    }
    .list-content {
        width: 100%;    
        margin-bottom: 25px;
    }
    .list-group {
        margin: 0;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: -10px;  
    }
    .content-one {
        text-align: justify;
    }
    .content-two {
        text-align: justify;
    }
    .list-content span {
        font-size: 22px;
    }
    .content .menu-footer .menu-footer-child {
        display: none;
    }
    .content .menu-footer{
        padding-top:25px;
    }
}
@media only screen and (max-width: 475px) {
    .tab-content {
        padding: 0;
    }
    .list-content {
        width: 100%;   
        margin-bottom: 25px; 
    }
    .list-group {
        margin: 0;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: -10px;  
    }
    .content-one {
        text-align: justify;
    }
    .content-two {
        text-align: justify;
    }
    .list-content span {
        font-size: 22px;
    }
    .content .menu-footer .menu-footer-child {
        display: none;
    }
    .content .menu-footer{
        padding-top:25px;
    }
}
@media only screen and (max-width: 320px) {
    .tab-content {
        padding: 0;
    }
    .list-content {
        width: 100%;    
        margin-bottom: 25px;
    }
    .list-group {
        margin: 0;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: -10px;  
    }
    .content-one {
        text-align: justify;
    }
    .content-two {
        text-align: justify;
    }
    .list-content span {
        font-size: 20px;
    }
    .content .menu-footer .menu-footer-child {
        display: none;
    }
    .content .menu-footer{
        padding-top:25px;
    }
}   