.owl-dots{
    display: none;
}
.list-group{
    flex-direction: row;
}
.news-mobile .tri .list-group .list-group-item.list-group-item.active {
    position: relative;
    height: 35px;
    padding-top: 5px;
}

.list-group-item.active{
    background-color: #d71920;
    outline: none;
    border: none;
    border-radius: 0;
}
.news-mobile {
    display: none;
}
.news-mobile .tri .list-group .list-group-item.list-group-item.active::before{
    content: '';
    position: absolute;
    top: calc(100% - 3px);
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #d71920;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}
.nd {
    position: relative;
}
.btn-click{
    position: absolute;
    top: 95%;
    left: 40%;
}
.btn-detail{
    font-size: 12px;
    color: #ffffff;
    background-color: #d71920;
    border-radius: 0 !important;
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    padding: 8px 35px;
}

@media only screen and (max-width: 769px) {
    .list-group{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        flex-direction: row;
    }
    .item{
        /* height: 55px; */
    }
    .list-group-item{
        font-size: 14px;
    }
    .news-mobile {
        display: block;
    }
    .fade:not(.show){
        opacity: 0;
        /* overflow: hidden; */
        visibility: hidden;
        height: 0;
    }
    .owl-next{
        float: right;
    }
    .nd img{
        width: 100%;
        margin-bottom: 20px;
    }
    .btn-click {
        position: absolute;
        top: 92%;
        left: 38%;
    }
}
@media only screen and (max-width: 600px){
    .btn-click {
        position: absolute;
        top: 91%;
        left: 36%;
    }
    .content .service .service-item .box .text-item .btn-detail{
        margin-left: 37%;
    }
}
@media only screen and (max-width: 475px){
    .btn-click {
        position: absolute;
        top: 88%;
        left: 30%;
    }
}
@media only screen and (max-width: 320px){
    .btn-click {
        position: absolute;
        top: 88%;
        left: 28%;
    }
    .content .service .service-item .box .text-item .btn-detail{
        margin-left: 28%;
    }
}
