.content-content-img span {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
    margin: auto;
}
.slider-content{
    margin-bottom: 20px;
    margin-top: 40px;
}
.line-title-left{
    width: 255px;
    height: 2px;
    background-color: #e5e3e3;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.line-title-left::before{
    position: absolute;
    left: 15px;
    content: '';
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background-color: #d71920;
    /* transform: translateX(50%); */
}
.item-list-item p{
    line-height: 1.5;
    font-size: 14px;
}
.content-content-img p{
    line-height: 1.5;
    font-size: 15px;
}
section span{
    margin: 30px 0;
}
.pagination{
    justify-content: center;
}