.component {
    position: relative;
    overflow: hidden;
    height: 800px;
  }
  /* @media (min-width: 993px) {
    .component {
      width: 600px;
      height: 400px;
    }
  } */
  /* @media (min-width: 481px) and (max-width: 992px) {
    .component {
      width: 450px;
      height: 300px;
    }
  } */
  /* @media (max-width: 480px) {
    .component {
      width: 300px;
      height: 200px;
    }
  } */
  
   .main-carousel .owl-prev {
    left: 10px;
  }
  .main-carousel .owl-prev:after {
    border-right: 15px solid rgba(0, 0, 0, 0.5);
  }
  .main-carousel .owl-next {
    right: 10px;
  }
  .main-carousel .owl-next:after {
    border-left: 15px solid rgba(0, 0, 0, 0.5);
  }
  .main-carousel .owl-prev,
  .main-carousel .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.5;
  }
  .main-carousel .owl-prev:after,
  .main-carousel .owl-next:after {
    content: "";
    display: inline-block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  /* @media (max-width: 480px) {
    .main-carousel .owl-prev:after,
    .main-carousel .owl-next:after {
      border-top-width: 15px;
      border-bottom-width: 15px;
      border-left-width: 11px;
      border-right-width: 11px;
    }
  } */
   /* @media (min-width: 993px) {
    .main-carousel .item {
      height: 400px;
    }
  } */
   /* @media (min-width: 481px) and (max-width: 992px) {
    .main-carousel .item {
      height: 300px;
    }
  } */
  /* @media (max-width: 480px) {
    .main-carousel .item {
      height: 200px;
    }
  } */
  /* @media (min-width: 993px) {
    .main-carousel .item .image {
      max-height: 400px;
    }
  } */
  /* @media (min-width: 481px) and (max-width: 992px) {
    .main-carousel .item .image {
      max-height: 300px;
    }
  } */
  /* @media (max-width: 480px) {
    .main-carousel .item .image {
      max-height: 200px;
    }
  } */
  
  .thumbnails-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    padding: 10px 30px;
  }
  .thumbnails-wrapper .item {
    margin: 4px 27px;
    cursor: pointer;
    height: 36px;
  }
  .thumbnails-wrapper .item a{
    color: black;
    text-decoration: none;
  }
  .thumbnails-wrapper a.active{
    color: #a30d14;
    /* background-color: #e0e0e0; */
    padding: 9px;
  }
  .thumbnails-wrapper .item a:hover{
    background-color: #e0e0e0;
    color:#a30d14;
    padding: 9px;
  }

  .thumbnails-wrapper .item .image {
    border: 1px solid #9f9ea2;
    max-height: 36px;
  }
  .thumbnails-wrapper .synced .image {
    border-color: #1699ff;
  }
  .thumbnails-wrapper .owl-prev,
  .thumbnails-wrapper .owl-next {
    position: absolute;
    height: 11px;
    width: 1px;
    bottom: 50%;
    top: 5px;
    transform: translate(-50%, 0);
  }
  .thumbnails-wrapper .owl-prev:after,
  .thumbnails-wrapper .owl-next:after {
    content: "";
    display: inline-block;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
  }
  .thumbnails-wrapper .owl-prev {
    left: -15px;
  }
  .thumbnails-wrapper .owl-prev:after {
    border-right: 9px solid #e0e0e0;
  }
  .thumbnails-wrapper .owl-next {
    right: -5px;
  }
  .thumbnails-wrapper .owl-next:after {
    border-left: 9px solid #e0e0e0;
  }
  
  .item {
    position: relative;
  }
  
  .image {
    position: absolute;
    top: 65%;
    left: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    transform: translate(-50%, -50%);
  }
  
  .collapse-button {
    position: absolute;
    border-bottom: 11px solid rgba(200, 60, 60, 0.5);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    height: 0;
    width: 63px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -11px;
  }
  .collapse-button .icon {
    position: relative;
    top: 2px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid white;
    margin: 0 auto;
  }
  .collapse-button .icon.-flip {
    border-top: 0;
    border-bottom: 7px solid white;
  }
  .main-carousel .owl-next{
      display: none;
  }
  .main-carousel .owl-prev{
      display: none;
  }
  .counter {
    position: absolute;
    right: 10px;
    top: -30px;
    z-index: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 8px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  /* @media (max-width: 480px) {
    .counter {
      font-size: 10px;
      top: -15px;
      padding: 1px 6px;
    }
  } */
  .item{
    height: 400px;
  }
  .text-year p{
    position: absolute;
    top: 127%;
    padding: 0 20px;
    text-align: justify;
    font-family: 'UTM Neo Sans Intel';
    font-size: 14px;
  }
  .text-year .content-year-o span{
    position: absolute;
    display: block;
    top: 118%;
    font-weight: bold;
    color: #a30d14;
    padding: 0 20px;
    font-family: 'UTM Neo Sans Intel';
    font-size: 18px;
  }
  .giai_doan{
    background-color: white;
    margin-top: -15px;
    margin-bottom: 100px;
  }
  .title-year span {
    font-size: 30px;
    font-family: 'UTM Copperplate';
    display: block;
    text-align: center;
    position: relative;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .title-line {
    width: 400px;
    height: 3px;
    background-color: #e5e3e3;
    position: relative;
    margin: 0 auto;
    margin-bottom: 25px;
}
.title-line::before {
    position: absolute;
    width: 70px;
    content: '';
    height: 5px;
    top: -3px;
    left: 43%;
    background-color: #a30d14;
}
.tab-menu{
  padding: 10px;
  border-top: 15px solid #a30d14;
  margin-top: -15px;
  background-color: #e0e0e0;
  font-family: 'UTM Copperplate';
  font-size: 18px;
}
.tab-menu span{
  display: block;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'UTM Copperplate';
}
.list-group-item.active{
  background-color: #a30d14;
  border: none;
}
.owl-carousel .owl-item img{
  width: 95%;
  display: block;
}
.sub-title-year P{
  text-align: center;
  padding: 0 20px;
  font-family: 'UTM Neo Sans Intel';
  font-size: 14px;
}
.list-group-item{
  border: none;
  font-family: 'UTM Avo';
  font-size: 14px;
}
.thumbnails-wrapper #thumbnails{
  position: relative;
}
.thumbnails-wrapper #thumbnails::before{
  position: absolute;
  content: '';
  width: 105%;
  height: 1px;
  left: -18px;
  top: -5px;
  background-color: #e0e0e0;
}
.thumbnails-wrapper #thumbnails::after{
  position: absolute;
  content: '';
  width: 105%;
  height: 1px;
  left: -18px;
  top: 35px;
  background-color: #e0e0e0;
}
.list-group-item.active i{
  z-index: 2;
  color: #fff;
}
.list-group i{
  color: #a30d14;
  font-weight: 900;
  margin-right: 14px;
  font-size: 8px;
}
@media only screen and (max-width: 900px){
  .owl-carousel .owl-item img{
    top:47%;
  }
  .text-year .content-year-o span{
    top: 80%;
  }
  .text-year p{
    top: 90%;
  }
}
@media only screen and (max-width: 767px){
  .owl-carousel .owl-item img{
    top: 50%;
  }
  .sub-title-year p{
    text-align: justify;
  }
  .text-year .content-year-o span{
    margin-top: 35px;
  }
  .text-year p{
    top: 100%;
  }
  .giai_doan{
    margin-top: 10px;
  }
}
@media only screen and (max-width: 600px){
  .owl-carousel .owl-item img{
    top: 50%;
  }
  .sub-title-year p{
    text-align: justify;
  }
  .text-year .content-year-o span{
    margin-top: 30px;
  }
  .text-year p{
    top: 100%;
  }
  .giai_doan{
    margin-top: 10px;
  }
}
@media only screen and (max-width: 475px){
  .tab-menu span{
    font-size: 20px;
  }
  .list-group{
    margin-bottom: 20px;
  }
  .title-year span{
    font-size: 20px;
  }
  .title-line{
    width: 100%;
  }
  .title-line::before{
    left: 39%;
  }
  .owl-carousel .owl-item img{
    margin-top: -40px;
  }
  .text-year .content-year-o span{
    margin-top: -40px;
  }
  .text-year p{
    top: 85%;
  }
  .sub-title-year p{
    text-align: justify;
  }
}
@media only screen and (max-width: 320px){
  .tab-menu span{
    font-size: 20px;
  }
  .list-group{
    margin-bottom: 20px;
  }
  .title-year span{
    font-size: 20px;
  }
  .title-line{
    width: 100%;
  }
  .title-line::before{
    left: 39%;
  }
  .owl-carousel .owl-item img{
    margin-top: -70px;
  }
  .text-year .content-year-o span{
    margin-top: -100px;
  }
  .text-year p{
    top: 70%;
  }
}


  