.nav-item a {
    color: black;
    font-family: 'UTM Avo';
    font-size: 14px;
}
.nav-link.disabled {
    color: black;
}
span.nav-link.active {
    background-color: #d71920;
    position: relative;
    color: white;
}
span.nav-link.active::after {
    position: absolute;
    content: '';
    background-color: #d71920;
    width: 60%;
    height: 40px;
    top: 0;
    left:s -60%;
}
span.nav-link.active::before {
    background-image: url("../images/layoutSanpham_2.png");
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    top: 0;
    right: -35px;
    height: 40px;
}
.nav-item .item-header {
    padding-left: 40px;
    position: relative;
}
.nav-item .item-header::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #d71920;
    top: 100%;
    left: 38px;
    border-radius: 5px;
}
.nav-item .item-header:hover::before{
    width: 70%;
    transition: all 0.7s;
    background-color: #d71920;
}
.item-vip-header {
    position: relative;
}
.item-vip-header::after {
    position: absolute;
    content: '';
    background-image: url(../images/layoutSanpham_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 40px;
    top: 0;
    right: -50%;
}
.item-vip-header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 40px;
    background-color: #e2e2e2;
    top: 0;
    left: 205px;
}
.nav {
    background-color: white;
}
.title-header .ngoai-that{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'UTM Copperplate';
    font-size: 24px;
}
.title-header h1 {
    margin-top: 20px;
    text-align: center;
    font-family: 'UTM Copperplate';
    font-size: 24px;
}
.title-header {
    margin-bottom: 20px;
}
.title-line {
    width: 375px;
    height: 2px;
    background-color: #e5e3e3;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}
.title-line::before {
    position: absolute;
    top: -2px;
    content: '';
    left: 50%;
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background-color: #d71920;
    transform: translateX(-50%);
}
.discription-content p {
    margin-top: 40px;
    text-align: justify;
    font-family: 'UTM Neo Sans Intel';
    font-size: 16px;
}
.content-header span{
    display: block;
    font-weight: bold;
    padding-left: 30px;
    position: relative;
    font-family: 'UTM Neo Sans Intel';
    font-size: 18px;
    padding-left: 45px;
}
.content-header span::before {
    position: absolute;
    content: '';
    background-image: url(../images/sanpham/tamgiacwhile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 5%;
    height: 20px;
    top: 5px;
    left: 0;
}
.content-header .p-content-item p{
    margin-top: 40px;
    font-family: 'UTM Neo Sans Intel';
    font-size: 16px;
}
.content-header {
    margin-bottom: 20px;
}
.carousel-p p{
    margin: 0;
    font-family: 'UTM Neo Sans Intel';
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin-left: 40px;
    margin-top: 15px;
}
.carousel-p p::before {
    position: absolute;
    content: '';
    background-image: url(../images/sanpham/tamgiac.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 7%;
    height: 16px;
    top: 5px;
    left: -40px;
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    left: 106%;
    font-size: 46px;
    top: 45px;
    outline: none;
}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45px;
    left: -80px;
    font-size: 46px;
    outline: none;
}
.owl-carousel .owl-nav.disabled{
    display: block;
}
.carousel .item {
    position: relative;
}
.carousel {
    background-color: #e2e2e2;
    padding-top: 20px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 320px) {
    .item-switch {
        display: none;
    }
    span.nav-link.active::before {
        right: -43px;
        height: 37px;
    }
    span.nav-link.active {
        margin-left: -15px;
    }
    .nav {
        margin-right: -15px;
    }
}