@media only screen and (max-width: 769px) {
    .row-menu{
        display: none;
    }
    .row-menu-mobile{
        display: block;
    }
    .list-group{
        flex-direction: row;
        font-size: 10px;
        margin: 0;
    }
    .list-group-item:last-child{
        margin-left: 0;
        width:100%;
        margin-bottom: 10px;
    }
    .list-group-item{
        margin-left: 3px;
        margin-bottom: 10px;
        width: 100%;
        padding: 0.75rem 0.25rem;
    }
    .products .mobile{
        display: block;
    }
}
@media only screen and (max-width: 348px){
    .list-group .fix-text{
        padding: 5px;
    }
    .products .mobile{
        display: block;
    }
    .list-group{
        margin: 0;
    }
}
@media only screen and (max-width: 320px){
    .list-group .fix-text{
        padding: 5px;
    }
    .list-group{
        margin: 0;
    }
    .products .mobile{
        display: block;
    }
}