@media only screen and (max-width: 769px){
    .hotline-mobile span a {
        position: absolute;
        right: 15%;
        top: 64px;
        font-size: 25px;
        clear: right;
        margin-left: 0px;
    }
    .navbar-brand img {
        margin-top: 0px;
        margin-left: 0;}
        .navbar-toggler-icon {
            margin-top: 0px;
        font-size: 30px;}
            .navbar {
                position:unset;}

}
@media only screen and (max-width: 620px){
    .hotline-mobile span a {
       
        right: 17%;
        top: 66px;
        font-size: 20px;
    
    }
    .navbar-toggler-icon{
        font-size: 30px;
    }
}
@media only screen and (max-width: 465px){
    .hotline-mobile span a {
       
        right: 17%;
        top: 60px;
        font-size: 16px;
    
    }
    .navbar-toggler-icon{
        font-size: 20px;
    }
}
@media only screen and (max-width: 375px){
    .hotline-mobile span a {
       
        right: 18%;
    top: 60px;
    font-size: 13px;
    
    }
    .navbar-toggler-icon{
        font-size: 20px;
    }
}
@media only screen and (max-width: 320px){
    .hotline-mobile span a {
       
        right: 18%;
        top: 56px;
        font-size: 13px;
    
    }
    .navbar-toggler-icon{
        font-size: 20px;
    }
}